body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 20px 20px;
}

div {
  background-color: #111;
  border-radius: 4px;
  margin: 0px 20px 20px 20px;
  padding: 30px;
}

div h2 {
  color: #fff;
  margin-top: 0px;
}

div p {
  color: #b2b2b2;
}
.yellow {
  color: #febe01;
}

button {
  background-color: #febe01;
  color: #332200;
  padding: 12px 24px;
  border-radius: 4px;
}
